<h1>Listing products</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Image</th>
    <th>Description</th>
    <th>Stock</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.Title %></td>
    <td><%= product.Image %></td>
    <td><%= product.Description %></td>
    <td><%= product.Stock %></td>
    <td><%= product.Price %></td>
    <td><%= link_to 'Show', [:admin, product] %></td>
    <td><%= link_to 'Edit', edit_admin_product_path(product) %></td>
    <td><%= link_to 'Destroy', [:admin, product] , method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_admin_product_path %>
