<center><h1>Listing products</h1></center>

<%= link_to "title", :sort => "Title" %>
<%= link_to "price", :sort => "Price" %>
<%= link_to "stock", :sort => "Stock" %>
<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>


<% @products.each do |product| %>
    <h2><%= product.title %></h2>
    <img src="<%= product.imageUrl %>" width="150"><br>
    <p><%= product.description %></p>
    <%  if product.stock == 0 %>
		Out of Stock
    <%  else %>
	    Stock Available : <%= product.stock %>
    <%  end %><br>
    Price : <%= product.price %><br>
<% end %>

<%= will_paginate %>


