<center><h1>Listing products</h1></center>

<%= sortable "Title", "Title" %>
<%= sortable "Price", "Price" %>
<%= sortable "Stock", "Stock" %>

<% @products.each do |product| %>
    <h2><%= product.title %></h2>
    <%= image_tag product.imageUrl_url %><br>
    <p><%= product.description %></p>
    <%  if product.stock == 0 %>
		Out of Stock
    <%  else %>
	    Stock Available : <%= product.stock %>
    <%  end %><br>
    Price : <%= product.price %><br>
<% end %>

<%= will_paginate %>


