<center><h1>Listing products</h1></center>

<%= link_to "Title", :sort => "Title" %>
<%= link_to "Price", :sort => "Price" %>
<%= link_to "Stock", :sort => "Stock" %>
<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>


<% @products.each do |product| %>
    <h2><%= product.Title %></h2>
    <img src="<%= product.ImageUrl %>" width="150"><br>
    <p><%= product.Description %></p>
    <%  if product.Stock == 0 %>
		Out of Stock
    <%  else %>
	    Stock Available : <%= product.Stock %>
    <%  end %><br>
    Price : <%= product.Price %><br>
<% end %>

<%= will_paginate %>


