<center><h1>Listing products</h1></center>
<%
	# We should not be using tables. 
%>

<% @products.each do |product| %>
	<h2><%= product.Title %></h2>
    <img src="<%= product.ImageUrl %>" height="200"><br>
    <p><%= product.Description %></p>
    <%  if product.Stock <= 0 %>
		Out of Stock
    <%  else %>
	    Stock Available : <%= product.Stock %>
    <%  end %><br>
    Price : <%= product.Price %><br>
<% end %>
<br />


