<p id="notice"><%= notice %></p>
<div class='product'>

<p class='image'>
  <%= image_tag @product.imageUrl %>
</p>

<p class='title'>
  <b>Title:</b>
  <%= @product.title %>
</p>

<p class='description'> 
  <b>Description:</b>
  <%= @product.description %>
</p>

<p class='stock'>
  <b>Category:</b>
  <%= @product.category %>
</p>


<p class='stock'>
  <b>Stock:</b>
  <%= @product.stock %>
</p>

<p class='stock'>
  <b>Rating:</b><%= rating_for @product, "product_id" %>
</p>

<p class='price'>
  <b>Price:</b>
  <%= @product.price %>
</p>
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
